.main_blog{
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
}
.main_blog .container{
    max-width: 1216px;
    width: 85%;
    margin: 0 auto;
    display: flex;
   /* margin-top: 100px;  */
   overflow: hidden;
    justify-content: space-between;
    align-items: center;
}

.main_blog .container>img{
    cursor: pointer;
    animation-name: move;
    animation-duration: 2s;
    transform: translateX(-300px);
    animation-fill-mode: forwards;
    opacity: 0;
}

.main_blog .container .left_side{
 
}
.main_blog .container .left_side .info_blog{
   width: 560px;
   margin-bottom: 20px;
}

.main_blog .container .left_side .info_blog h2{
    color: #151515;
    font-family: "NewHeroMedium";
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
    margin-bottom: 15px;
    height: 50px;
}
.main_blog .container .left_side .info_blog .line{
    width: 30px;
    border-top: 4px solid #4777A7;
    margin-bottom: 15px;
}
/* .main_blog .container .left_side .info_blog  .mob_pic{
    display: none;
} */
.main_blog .container .left_side .info_blog p{
    color: #777;
    font-family: "NewHeroMedium";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.main_blog .container .left_side .info_blog span{
    color: #4777A7;
    font-family: "NewHeroMedium";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}
.main_blog .container .left_side a{
    /* width: 250px;
    height: 50px; */
    flex-shrink: 0;
    background: #4777A7;
    color: #fff;
    text-align: center;
    font-family: "NewHeroMedium";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; 
    cursor: pointer;
    transition: .5s;
    padding: 10px 55px;
}
.main_blog .container .left_side a:hover{
    box-shadow: 0 0 10px 0 #69ABED inset, 0 0 10px 4px #69ABED;
}

@media (max-width: 900px){
    .main_blog{
        padding: 60px 0px;  
    }
    .main_blog .container{
        width: 90%;
        flex-direction: column;
    }
    .main_blog .container .light_galleryLink,
    .main_blog .container .light_galleryImg{
        display: none;
    }

    .main_blog .container .left_side {
        padding: 0;
    }
    .main_blog .container .left_side .info_blog{
        width: 100%; 
    }
    .main_blog .container .left_side .info_blog .line{
        position: relative;
    }
   
    .main_blog .container .left_side .info_blog h2{
        font-size: 30px;
        line-height: 50px;

    }
    
    .main_blog .container .left_side .info_blog p{
        font-size: 18px;
        line-height: 30px;
    }
    .main_blog .container .left_side a{
        
        font-size: 14px;
        padding: 10px 40px;
    }
}