.flex_c{
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex_s{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
*{
  vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  color: inherit;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ReactModal__Overlay,
.ReactModal__Overlay--after-open{
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.6) !important;
  z-index: 9999 !important;
}

@keyframes move{
  100%{
    transform: translate(0);
    opacity: 1;
  }
}


@media (max-width: 900px) {
    
    .bookModal {
    display: none;
  }

  
}