.contact_page{
    width: 100%;
    padding-top: 100px;
}
.contact_page .contact_container{
    max-width: 1216px;
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.contact_page .contact_container iframe{
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
}

.contact_page .contact_container .contact_info h4{
    font-family: "NewHeroMedium" ;
    font-size: 48px;
    font-style: normal;
    font-weight: 600; 
    line-height: 100%; 
    text-transform: uppercase;
    margin-bottom: 30px;
}
.contact_page .contact_container .contact_info .footer_phone{
    margin-bottom: 0px;
}
.contact_page .contact_container .contact_info h5{
    font-family: "NewHeroMedium" ;
    font-size: 30px;
    font-style: normal;
    font-weight: 400; 
    line-height: 45px;  
    margin-bottom: 30px;
}
    
@media (max-width: 900px) {
    .contact_page{
        width: 100%;
       
    }
    .contact_page .contact_container .contact_info h4{
        font-size: 28px;
        line-height: 20px;
    }
    .contact_page .contact_container .contact_info h5{
        margin-bottom: 10px;
    }
    .contact_page .contact_container .contact_info>h5{
        font-size: 20px;
       line-height: 25px;
    }
}