.projectFile{
    width: 100%;
}
.projectFile .projectFile_cont{
    width: 100%;
}
.projectFile .projectFile_cont .img{
    width: 100%;
    height: 430px;
    background: url(../../img/Black.svg) no-repeat center/cover ;

}
.projectFile .projectFile_menu{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.projectFile .projectFile_menu .projectFile_menuFlex{
    display: flex;
    max-width: 1216px;
    width: 85%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}
.projectFile .projectFile_menu .projectFile_menuFlex .projectFile_text h2{
    color: #151515;
    
    font-family: "NewHeroMedium";
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px; /* 125% */
    
    }
.projectFile .projectFile_menu .projectFile_menuFlex .projectFile_text .line{
    width: 30px;
    border-top: 4px solid #4777A7;
    margin-bottom: 30px;
}
.projectFile .projectFile_menu .tabs{
    width: 550px;
    display: flex;
    justify-content: space-between;
   
    
}
.projectFile .projectFile_menu .tabs .tab{
    color: #FFF;
    text-align: center;
    
    font-family: "NewHeroMedium";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 166.667% */
    padding: 10px 30px;
    cursor: pointer;
    background: #A4BED8;
}
.projectFile .projectFile_menu .tabs .tab:hover{
    background: #4777A7;
    cursor: pointer;
}
.projectFile .projectFile_section{
    max-width: 1216px;
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 30px;
}
.projectFile .projectFile_sectionColumn{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}
.projectFile .projectFile_section .projectFile_sectionText{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
   
}
.projectFile .projectFile_section .projectFile_sectionText h2{
    color: #151515;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "NewHeroMedium";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 10px;
    margin-top: 20px;
}
.projectFile .projectFile_section .projectFile_sectionText p{
    color: #777;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "NewHeroMedium";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */


}
.projectFile .projectFile_sectionBtnBlock{
    width: 550px;
    display: flex;
    justify-content: space-between;
    
}
.projectFile .projectFile_sectionBtnBlock button:nth-child(1){ 
    color: #FFF;
    text-align: center;
    font-family: "NewHeroMedium";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 166.667% */
    background: #4777A7;
    padding: 8px 30px;
    cursor: pointer;
}
.projectFile .projectFile_sectionBtnBlock button:nth-child(2){ 
    color: #FFF;
    text-align: center;
    font-family: "NewHeroMedium";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 166.667% */
    background: #69ABED;
        padding: 8px 20px;
        cursor: pointer;
}
/* -------------завершенные */
.projectFile .projectFile_completedBox{
    max-width: 1216px;
    width: 85%;
    /* height: 1300px; */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    margin-bottom: 30px;
}
 .projectFile .projectFile_sectionComplited{
   
    width: 384px;
   margin-bottom: 40px;
}
.projectFile .projectFile_sectionComplited img{
   margin-bottom: 30px;
   
}
.projectFile .projectFile_sectionComplited h2{
    color: #151515;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "NewHeroMedium";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 19.2px */
    margin-bottom: 11px;
}
.projectFile .projectFile_sectionComplited p{
    color: #888;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "NewHeroMedium";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}
/* ------------------------- */

.bookModal{
    width: 50%;
    margin: 0 auto;
    background: #fff;
}
.bookModal .appointment_insaidBlock{
    max-width: 1008px;
    width: 100%;
    margin: 0 auto; 
    padding-top: 20px;
    padding-bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
   
}
.bookModal h2{
    color: #151515;
    text-align: center;
    font-family: "NewHeroMedium";
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px; /* 125% */
    margin-bottom: 20px;
}
.bookModal .p{
   width: 80%;
 
}
.bookModal p{
    color: #444;
    text-align: center;
    font-family: "NewHeroMedium";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */  
    margin-bottom: 20px;
 
}
.bookModal .line{
    width: 30px;
    border-top: 4px solid #4777A7;
    margin-bottom: 20px;
}
.bookModal input{
    width: 80%;
    height: 35px;
    border: 1px solid #CACACA;
    color: #444;
    font-family: "NewHeroMedium";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 14px;
}
.bookModal .btnClouse{
    display: flex;
    justify-content: end;
    align-items: flex-end;
    align-self: flex-end;  
    padding-right: 20px; 
    cursor: pointer;
    transition: ease 0.3s;
}

.bookModal .btnClouse:hover{
    transform: scale(1.1);
}

.bookModal button{
    color: #FFF;
    text-align: center;
    font-family: "NewHeroMedium";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 166.667% */
    background: #69ABED;
    padding: 10px 39px;
    cursor: pointer;
}
.bookModal a:hover{
    background: #4777A7;
}
.active{
    display: flex;
}
/* --------------------media */

@media (max-width: 900px){
    .projectFile .projectFile_cont{
        width: 100%;
       
    }
    .projectFile .projectFile_cont .img{
        width: 100%;
        height: 300px;
        background: url(../../img/Black.svg) no-repeat center/cover ;
    
    }
    .projectFile .projectFile_menu{
        width: 100%;  
        
    }
    
    .projectFile .projectFile_menu .projectFile_menuFlex .projectFile_text {
      width: 100%;
    }
    .projectFile .projectFile_menu .projectFile_menuFlex .projectFile_text h2{
        font-size: 24px;
        line-height: 50px; /* 125% */
    }
    .projectFile .projectFile_menu .projectFile_menuFlex .projectFile_text .line{
        display: none;
    }
    .projectFile .projectFile_menu .projectFile_menuFlex{
        flex-direction: column;
    }
    .projectFile .projectFile_menu .tabs{
        width: 100%;
       
    }
    .projectFile .projectFile_menu .tabs .tab{
        font-size: 15px;
        padding: 5px 8px;  
        
    }
    .projectFile .projectFile_section{
        flex-direction: column;
    }
    .projectFile .projectFile_sectionColumn{
        margin-left: 0px;
    }
    .projectFile .projectFile_section .projectFile_sectionText h2{ 
        font-size: 16px;
        line-height: 140%;
    }
    .projectFile .projectFile_section .projectFile_sectionText p{
        font-size: 14px;
        line-height: 150%; /* 27px */
    }
    .projectFile .projectFile_sectionBtnBlock{
        width: 100%;    
    }
    .projectFile .projectFile_sectionBtnBlock button{
        font-size: 12px !important ;
        line-height: 10px;
        padding: 5px 9px !important;
    }
    .projectFile .projectFile_completedBox{
        width: 100%;
        justify-content: center;
    }
    .projectFile .projectFile_sectionComplited{
       width: 85%;
    }
    .projectFile .projectFile_sectionComplited img{
        width: 100%;
        
     }
     .projectFile .projectFile_sectionComplited h2{
        font-size: 16px;
        line-height: 120%; 
        
    }
    .projectFile .projectFile_sectionComplited p{
        font-size: 14px;
        line-height: 150%; 
    }
}