

 .social_container a svg:hover{
    transform: scale(1.06);
 }
 .social_container a svg{
    width: 46px;
    height: 46px;
    fill: #fff;
    transition: 0.3s;
 }
 .social_container a .instagramm{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    transition: 0.3s;
 }
 .social_container .instagramm_a {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background: url(../../img/instBack.svg) no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
 }